$header_time: 0.3s;
$litle_header: 120px;
$big_header: 250px;

$header: #4a4c6f;
$header_li: #5a5c7c;
$header_open: #363854;

$title: #9277d7;
$title_border: #b5a3e4;
$title_logout: #886fc8;
$table_back: #f3f6f9;
$header_head: #e5e8ee;
$border_bt: #d1d4dd;

$table_green: #63d97c;
$table_red: #ee7474;
$form_border: #ee7474;
$filter_activ: #cccfd1;
$filter_activ_color: #333333;
$filter_border: #babcbe;
$input_edit: #fafbfd;
$input_color: #778793;
$index_inform: #b7b7b7;

$radio_but: #dfdfdf;
$radio_but_chec: #3c99fc;
$checkbox_border: #babcbe;
$checkbox_border: #8c8c8c;

$format_bg: #ebeced;
$format_bg_h: #d9d9d9;
$inform_login: #fa3c3c;
$flash_border: #a3badd;

$ui_tab_hover: #e4e7e9;
$ui_next_but: #66cc66;
$ui_next_hover: #5fbe5f;