@media screen and (max-width: 1700px){
	.main_grid{
		nav .item:before{
			width: 8px;
			height: 8px;
		}
	}
}
@media screen and (max-width: 1400px){
	.main_grid{
		.wb_cont{
			.btn{
				font-size: 3.5rem;
				right: 7rem;
			}
			.btn.btn_left {
				right: calc(50% + 7rem);
			}
			.work_name{
				font-size: 4rem;
			}
		}
	}
}