.citys
	.city.city_top
	.city.city_bottom
.inside_block
	.logo_big
	.bot_block.clearfix
		.bb
			.text
				= image_tag "mp_t1.png"
		.bb
			.text
				= image_tag "mp_t2.png"
		.bb
			.text
				= image_tag "mp_t3.png"
.home_perspective
	.cloud.cloud1
	.cloud.cloud2
	.cloud.cloud3
	.cloud.cloud4
	.cloud.cloud5
	.cloud.cloud6
	.cloud.cloud7
	.cloud.cloud8
	.cloud.cloud9
	.cloud.cloud10
	.cloud.cloud11