.wb_menu{
	&_block{
		opacity:0;
		position: absolute;
		z-index: 10;
		top:25%;
		left: calc(49.995% + #{$wb_line}/2);
		@include transform(translate(0, -50%));
		&.active{
			top:75%;
			left: calc(33.33% + #{$wb_line}/2);
		}
	}
	&_item{
		width: 100%;
		padding: 0.5rem 0;
		a{
			display: inline-block;
			vertical-align: top;
			padding: 0.2rem 1.2rem 0.2rem 1.6rem;
			font-size: 3.3rem;
			font-family: "HelveticaNeueLTStd-BdCn";
			color: black;
			background-color: #9e0b0f;
			@include transition(color .22s);
			&:hover{
				color: white;
			}
			span{
				position: relative;
			}
		}
		&.active a{
			color: white;
		}
	}
}